/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #FF9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #FF9;
  color: #000; 
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;   
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}


/*------------ Actual styles start here -------------
  By Michael Duerinckx
  http://michhimself.com
*/


body {
  font-family: 'Arial';
  font-size: 13px;
  padding: 0;
  margin: 0;
}

header { 
  display: block;
  font-size: 240%;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  background: #000;
  color: #FFF;
  text-shadow: 0 2px 0 #666;
  box-shadow: 
    0px -2px 0 #600 inset,
    0px -3px 0 #A00 inset,    
    0px -8px 8px #600 inset;
}

#editpanel {
  width: 40%; 
  float: left;
  background-color: #DDD;
  margin-right: 10px;
}
fieldset {
  border: none;
  padding: 15px;
}
#inputs { margin-top: 15px;}
#inputs label {
  display: block;
  font-weight: bold;
  margin-top: 7px;
}
#inputs textarea {
  width: 97%;
  height: 140px;
  border: solid 1px #888;
  padding: 3px;
}

#inputs textarea:focus {
  box-shadow: 0 0 4px #855;
  border-color: #000;
}

#resultpanel {
  float: right;
  padding: 10px 0;
  width: 57%;  
}

#resultframe {
  border: solid 2px #888; 
  width: 97%;
  height: 530px;
}